{% extends 'main.html' %}

{% block title %}Mis Tareas{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary text-white">
    </nav>
    <div class="container py-4">
        <h1 class="mb-4 text-center">Tus Tareas</h1>

        <div class="mb-3">
            <a href="{% url 'task_create' %}" class="btn btn-success">Crear Nueva Tarea</a>
        </div>

        <form method="get">
            <input type="text" name="q" placeholder="Buscar tareas">
            <select name="category">
                <option value="">Todas las categorías</option>
                {% for category in category %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Filtrar</button>
        </form>

        {% if tasks %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Fecha de Vencimiento</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>{{ task.descripcion|truncatechars:50 }}</td>
                        <td>{{ task.fecha_ven }}</td>
                        <td>{{ task.get_estado_display }}</td>
                        <td>
                            <a href="{% url 'task_update' task.pk %}" class="btn btn-sm btn-warning">Editar</a>
                            <a href="{% url 'task_delete' task.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center">No tienes tareas registradas.</p>
        {% endif %}
    </div>
</body>
</html>
{% endblock %}