{% extends 'main.html'%}

<h2> task page</h2>

{% block content %}

<div class="container py-4">

    <h1 class="mb-4 text-center">{{task.title}}</h1>

    <h3>{{task.subtitle}}</h3>
    <div class="container">
        <img class="img-thumbnail" src="{{task.image_frontpage.url}}">
        <br> 
        <h6>{{task.description}}</h6>
        
        <h7> contenido:</h7>

        <p>{{task.content}}</p>
        <br> 

        <div class="container">
            <p>{{task.usuario}}</p>
            <p>{{task.post_date}}</p>
        </div>
    
    </div>
</div>
{% endblock content%}