{% extends 'main.html'%}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white"></nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'task_update' task.pk %}">Editar</a>
            </li>
            </li>
            </ul>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'task_delete' task.pk %}">Eliminar</a>
            </li>
            </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container py-4">
    <hr>
    <h1 class="mb-4 text-center">{{ task.title }}</h1>
    <h2 class="mb-4 text-center">{{ task.subtitle }}</h2>
    <hr>

    <div class="container py-5">
        <div style="display: grid; place-items: center; overflow: hidden;">
            <img class="img-thumbnail" src="{{ task.image_frontpage.url }}" alt="Imagen de portada" style="width: 100%; height: 100%; object-fit: cover;">
        </div>

        <hr>
        <br>
        <h6>Descripción:</h6>
        <h7 class="mb-4 text-center">{{ task.description }}</h7>
        <br>
        <h6>Contenido:</h6>
        <h7 class="mb-4 text-center">{{ task.content }}</h7>

        <div class="container">
            <br>
            <hr>
            <p>Fecha de creación: {{ task.post_date }}</p>
            <p>Actualización: {{ task.update }}</p>
            <hr>
            <p>Fecha de vencimiento: {{ task.fecha_ven }}</p>
        </div>
    </div>
</div>
{% endblock content%}