<!DOCTYPE html>
<html>
<head>
    <title>task manager</title>
</head>
</html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}"
</head>
<body>
    {% include 'navbar.html'%}

    {% block content %}

    {% endblock content %}
</body>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
</html>